body {
    text-align: center;
    background: rgb(255, 207, 215);
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;

}

h1{
    color: #FFFFFF;
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 80px;
    align-items: center;
}

.btn-option {
     border: none;
     color: black;

    padding: 20px 40px;   
    font-size: 22px;      
    border-radius: 15px;
    cursor: pointer;
    background-color: white; 
    border: 3px solid #FF2D95; 
    color: #FF2D95; 
    font-weight: bold;
    box-shadow: 0 0 10px rgba(245, 81, 163, 0.3);
    transition: all 0.3s ease; /
}

.btn-option:hover {
    background-color: #FF2D95; 
    color: white; 
    box-shadow: 0 0 20px rgba(255, 45, 149, 0.6);
    transform: scale(1.05); 
}

#randomBtn {
    padding: 20px 30px; 
    font-size: 18px;    
     
}

#resetBtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    color: white;
    border: none;
    padding: 20px 40px;   
    font-size: 22px;      
    border-radius: 15px;
    cursor: pointer;
}


#resetBtn:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}


#resetBtn:active {
    transform: scale(0.95);
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 12px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 700px;
    border-radius: 15px; 
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    color: white;
    border: none;
}


.game-card {
    width: 100%;
    height: 100%;
    background-image: url('https://lens.usercontent.google.com/banana?agsi=CmdnbG9iYWw6OjAwMDA1NWNmZWM3MDAyNmQ6MDAwMDAwZWI6MTo1ODcwMDZkNGQ2ZGVmN2ZmOjAwMDA1NWNmZWM3MDAyNmQ6MDAwMDAyNDMzYWUwMzM2ODowMDA2NGY4NDU1YTc5YmZmEAIYAQ==');
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); 
    overflow: hidden; 
    transition: transform 0.3s;
   
}

.game-card img {

    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: none;
}

.game-card.open img {
    display: block;
    background-image: none;
    background-color: white;
    transform: rotateY(180deg);
    
}

#status {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 30px;
    border-radius: 50px;
    color: white;
    margin: 20px auto; 
    width: fit-content; 
    
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}


#status.active-game {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
    margin: 0;
}


.stat-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.separator {
    width: 2px;
    height: 25px;
    background: rgba(255,255,255,0.2);
}

#loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 42, 184, 0.2);
    border-top: 5px solid #FF2D95 ;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader p {
    color: #FF2D95 ;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
}


